<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fatore | Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}">
    </head>
    <body class="bg-blue-500">
        <ul>
            <!-- teste pra ver se tá puxando do bd -->
            {% for cliente in content %}
                <li>{{ cliente[0] }} - {{ cliente[1] }}</li>  
                <li><a href="{{ url_for('product_list') }}">Produtos</a></li>
            {% endfor %}
        </ul>
    </body>
    <!-- <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script> -->
</html>
