<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatore | Login</title>
    <!-- Carregar SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <div>
        <h1>Login</h1>
        <form id="login-form" method="POST">
            <label for="nome_usuario">Nome de Usuário:</label>
            <input type="text" id="nome_usuario" name="nome_usuario" placeholder="Ex.: murilinho_gamer" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

            <button type="submit">Entrar</button>
        </form>
    </div>

    <script>
        // adc evento no forms de login
        document.getElementById('login-form').addEventListener('submit', function(e) {
            e.preventDefault(); // evita o envio tradicional do formulário

            // coleta os dados do formulário
            const formData = new FormData(this);

            // envia os dados para o servidor via POST
            fetch("/login", {
                method: "POST",
                body: formData
            })
            .then(response => response.json()) // processa a resposta JSON do servidor
            .then(data => {
                if (data.success) {
                    // login bem-sucedido, exibe o SweetAlert
                    Swal.fire({
                        icon: 'success',
                        title: 'Login bem-sucedido!',
                        text: 'Redirecionando para os produtos...',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        // redireciona para a página de produtos
                        window.location.href = data.redirect_url;
                    });
                } else {
                    // erro no login
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro!',
                        text: data.message  // msg de erro vinda do servidor
                    });
                }
            })
            .catch(error => {
                // caso algo de errado aconteça
                console.error('Erro:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Erro!',
                    text: 'Houve um problema ao tentar fazer o login. Tente novamente.'
                });
            });
        });
    </script>
</body>
</html>
