{% extends "layout.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}

<div class="mb-6">
    <div class="flex items-center justify-center space-x-4 w-full">
        <div class="flex-1 max-w-md sm:max-w-xs"> <!-- Ajustando a largura máxima para telas menores -->
            <form action="{{ url_for('product_list') }}" method="get" class="w-full">
                <input type="text" name="query" placeholder="Buscar produto..." class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500" />
            </form>
        </div>
        <div>
            <button class="bg-orange-600 text-white px-4 py-2 rounded-md hover:bg-orange-700 w-full sm:w-auto">
                Novo produto
            </button>
        </div>
    </div>
</div>

<div class="flex h-full">
    <div class="flex-1 space-y-6 overflow-y-auto pr-80">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for produto in produtos %}
            <div class="bg-white p-4 shadow rounded flex flex-col justify-between w-full max-w-xs mx-auto">
                <h2 class="text-lg font-semibold text-center w-full truncate">{{ produto.nome }}</h2>
                <div class="h-40 overflow-hidden rounded-t-3xl mt-2">
                    <img src="{{ url_for('static', filename='uploads/' + produto.foto.split('uploads\\')[-1]) if produto.foto else url_for('static', filename='img/default-product.svg') }}" 
                         alt="Imagem do produto" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-wrap gap-2 mt-2 justify-between items-center">
                    <form action="/produtos/editar/{{ produto.id }}" method="get">
                        <button type="button" 
                            onclick="abrirPopupEditar('{{ produto.id }}', '{{ produto.nome }}', '{{ produto.categoria }}', '{{ produto.quantidade_estoque }}', '{{ produto.preco }}', '{{ produto.foto }}')" 
                            class="bg-yellow-500 text-white text-sm font-semibold px-3 py-1 rounded hover:bg-yellow-600">
                            Editar
                        </button>
                    </form>
                    <form action="/produtos/excluir/{{ produto.id }}" method="post">
                        <button type="submit" class="bg-red-500 text-white text-sm font-semibold px-3 py-1 rounded hover:bg-red-600">
                            Excluir
                        </button>
                    </form>            
                </div>
                <div class="flex justify-between mt-4 mb-1 items-center">
                    <p class="text-sm lg:text-lg font-semibold">
                        Qtd: <span class="font-normal">{{ produto.quantidade_estoque }}</span>
                    </p>
                    <p class="text-base lg:text-xl text-orange-500 font-semibold">
                        R$ {{ produto.preco }}
                    </p>
                </div>
                <form action="/produtos/vender/{{ produto.id }}" method="post" class="mt-2">
                    <button type="submit" class="bg-green-500 text-white text-sm font-semibold px-4 py-2 rounded hover:bg-green-600 w-full">
                        Vender
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="h-full w-80 bg-gray-800 text-white p-6 flex flex-col fixed top-0 right-0 bottom-0 overflow-y-auto">
        <div class="flex-grow">
            <h2 class="text-2xl font-bold mb-4">Carrinho</h2>
            <div id="carrinho-conteudo" class="overflow-y-auto max-h-[calc(100vh-12rem)]">
                {% if itens_carrinho %}
                    <ul>
                        {% for item in itens_carrinho %}
                            <li class="mb-2 flex justify-between items-center">
                                <div>
                                    <p>{{ item[1] }} - R$ {{ item[3] }} x {{ item[2] }} = R$ {{ item[2] * item[3] }}</p>
                                </div>
                                <form action="{{ url_for('remover_produto_do_carrinho', carrinho_id=item[0]) }}" method="post">
                                    <button type="submit" class="text-red-500 hover:text-red-700">
                                        <i class="fas fa-minus-circle"></i> <!-- Ícone de menos -->
                                    </button>
                                </form>                                
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhum produto no carrinho.</p>
                {% endif %}
            </div>
        </div>
        <div class="mt-4">
            <p class="text-lg mb-4 font-semibold">Total: R$ {{ total }}</p> <!-- Exibe o total -->
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 w-full">
                Prosseguir
            </button>
        </div>
    </div>
</div>

<div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40"></div>

<div id="popup" class="fixed inset-0 flex items-center justify-center hidden z-50">
    <div class="bg-white p-6 rounded-md shadow-lg w-96">
        <h2 class="text-xl font-bold mb-4">Adicionar Produto</h2>
        <form action="{{ url_for('salvar_produto') }}" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="nome" class="block text-sm font-medium text-gray-700">Nome do Produto</label>
                <input type="text" id="nome" name="nome" class="mt-1 p-2 w-full border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="categoria" class="block text-sm font-medium text-gray-700">Categoria</label>
                <select id="categoria" name="categoria" class="mt-1 p-2 w-full border rounded-md" required>
                    <option value="Bebida">Bebida</option>
                    <option value="Lanche">Lanche</option>
                    <option value="Doce">Doce</option>
                    <option value="Salgado">Salgado</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="quantidade" class="block text-sm font-medium text-gray-700">Quantidade</label>
                <input type="number" id="quantidade" name="quantidade" class="mt-1 p-2 w-full border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="preco" class="block text-sm font-medium text-gray-700">Preço</label>
                <input type="number" step="0.01" id="preco" name="preco" class="mt-1 p-2 w-full border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="foto" class="block text-sm font-medium text-gray-700">Foto do Produto (opcional)</label>
                <input type="file" id="foto" name="foto" class="mt-1 w-full">
            </div>
            <div class="flex justify-end space-x-4">
                <button type="button" id="closePopup" class="px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400">
                    Cancelar
                </button>
                <button type="submit" class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>

<div id="popup-editar" class="fixed inset-0 flex items-center justify-center hidden z-50">
    <div class="bg-white p-6 rounded-md shadow-lg w-96">
        <h2 class="text-xl font-bold mb-4">Editar Produto</h2>
        <form id="editar-form" method="post" enctype="multipart/form-data">
            <input type="hidden" id="produto-id" name="id">
            <div class="mb-4">
                <label for="editar-nome" class="block text-sm font-medium text-gray-700">Nome do Produto</label>
                <input type="text" id="editar-nome" name="nome" class="mt-1 p-2 w-full border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="editar-categoria" class="block text-sm font-medium text-gray-700">Categoria</label>
                <select id="editar-categoria" name="categoria" class="mt-1 p-2 w-full border rounded-md" required>
                    <option value="Bebida">Bebida</option>
                    <option value="Lanche">Lanche</option>
                    <option value="Doce">Doce</option>
                    <option value="Salgado">Salgado</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="editar-quantidade" class="block text-sm font-medium text-gray-700">Quantidade</label>
                <input type="number" id="editar-quantidade" name="quantidade" class="mt-1 p-2 w-full border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="editar-preco" class="block text-sm font-medium text-gray-700">Preço</label>
                <input type="number" step="0.01" id="editar-preco" name="preco" class="mt-1 p-2 w-full border rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="editar-foto" class="block text-sm font-medium text-gray-700">Foto do Produto (opcional)</label>
                <input type="file" id="editar-foto" name="foto" class="mt-1 w-full">
            </div>
            <div class="flex justify-end space-x-4">
                <button type="button" id="closePopupEditar" class="px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400">
                    Cancelar
                </button>
                <button type="submit" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600">
                    Salvar Alterações
                </button>
            </div>
        </form>
    </div>
</div>

<script src="../static/js/products.js"></script>

{% endblock %}