{% extends "layout.html" %}

{% block title %}Relatórios{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-8">Baixar Relatórios de Vendas</h1>
    
    <p class="text-lg mb-6">Escolha um dos relatórios abaixo para download:</p>

    <div class="flex space-x-6">
        <div class="bg-white shadow-lg rounded-lg p-10 text-center w-128 h-80 flex flex-col justify-center items-center">
            <p class="mb-2 text-xl font-semibold">Relatório Geral</p>
            <p class="mb-4 text-lg">Um resumo completo das vendas.</p>
            <a href="/download/relatorio-geral" class="bg-blue-600 text-white py-4 px-8 rounded-lg hover:bg-blue-700 transition duration-300 text-lg">Baixe aqui!</a>
        </div>
        <div class="bg-white shadow-lg rounded-lg p-10 text-center w-128 h-80 flex flex-col justify-center items-center">
            <p class="mb-2 text-xl font-semibold">Relatório de Funcionários</p>
            <p class="mb-4 text-lg">Detalhes das vendas por funcionário.</p>
            <a href="/download/relatorio-funcionarios" class="bg-green-600 text-white py-4 px-8 rounded-lg hover:bg-green-700 transition duration-300 text-lg">Baixe aqui!</a>
        </div>
    </div>
    
{% endblock %}